// ******************************
//base.scss
//全ページのベーススタイルの設定
// ******************************
* {
  box-sizing: border-box;
}
body {
  font-family: $f-yugo;
  position: relative;
  letter-spacing: 0;
  overflow-y: scroll;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 1;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}
img {
  pointer-events: none;
  width: 100%;
}
.sp {
  display: none;
  @include mq(sp) {
    display: block !important;
  }
}
.tb {
  display: none;
  @include mq(tb) {
    display: block !important;
  }
}
.pc {
  display: none;
  @include mq(pc) {
    display: block !important;
  }
}
a {
  display: block;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    opacity: .7;
  }
}
p {
  @include mq(sp) {
    text-align: justify;
  }
  @include fz(14);
  color: #292929;
  line-height: 1.9em;
  font-weight: 300;
}
input {
  font-size: 16px;
}