// ******************************
//base.scss
//全ページのベーススタイルの設定
// ******************************
* {
  box-sizing: border-box;
  font-family: "Noto Sans Japanese";
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  position: relative;
  font-family: "Noto Sans Japanese";
  letter-spacing: 0;
  word-wrap: break-word;
}
img {
  width: 100%;
}
.sp {
  display: none;
  @include mq(sp) {
    display: block !important;
  }
}
.tb {
  display: none;
  @include mq(tb) {
    display: block !important;
  }
}
.pc {
  display: none;
  @include mq(pc) {
    display: block !important;
  }
}
a {
  display: block;
  &:hover {
    opacity: .7;
  }
}
p {
  @include mq(sp) {
    text-align: justify;
  }
  @include fz(14);
  color: #565656;
  line-height: 1.8em;
  font-weight: 300;
}
input {
  font-size: 16px;
}

//リストの３列表示。タブレットでは３列、スマホで１列になります。
ul.col2 {
  font-size: 0;
  text-align: left;
  li {
    vertical-align: top;
    display: inline-block;
    position: relative;
    @include mq(sp) {
      width: 100%;
      margin: 0 0 6% 0;
    }
    @include mq(tb) {
      width: 48%;
      margin: 0 4% 0 0;
      &:nth-child(2n) {
          margin-right: 0;
      }
    }
    @include mq(pc) {
      width: 48%;
      margin-right: 4%;
      &:nth-child(2n) {
          margin-right: 0;
      }
    }
  }
}
ul.col3 {
  font-size: 0;
  text-align: left;
  li {
    vertical-align: top;
    display: inline-block;
    position: relative;
    @include mq(sp) {
      width: 100%;
      margin: 0 0 6% 0;
    }
    @include mq(tb) {
      width: 30%;
      margin: 0 5% 0 0;
      &:last-child {
          margin-right: 0;
      }
    }
    @include mq(pc) {
      width: 30%;
      margin-right: 5%;
      &:nth-child(3n) {
          margin-right: 0;
      }
    }
  }
}
ul.col4 {
  font-size: 0;
  text-align: left;
  li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    @include mq(sptb) {
      width: 47%;
      margin: 0 6% 6% 0;
      display: inline-block;
      &:nth-child(2n) {
          margin-right: 0;
      }
    }
    @include mq(pc) {
      width: 23%;
      display: inline-block;
      vertical-align: top;
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}