// ******************************
//utill.scss
// ******************************

//break point
$breakpoints: (
	'sp': 'screen and (max-width: 425px)',
	'tb': 'screen and (min-width: 426px) and (max-width: 999px)',
	'sptb': 'screen and (max-width: 999px)',
	'pc': 'screen and (min-width: 1000px)',
) !default;
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//自動フォントサイズ調整
@mixin fzvw($px) {
  font-size: $px / 750 * 100 + vw;
}
@mixin fz($px) {
  @include mq(sp) {
    font-size: $px * 1.4 / 640 * 100 + vw;
  }
  @include mq(tb) {
    font-size: $px + px;
  }
  @include mq(pc) {
    font-size: $px + px;
  }
}


@mixin cols($sp, $tb, $pc) {
  font-size: 0;
  letter-spacing: 0;
  li {
    display: inline-block;
    vertical-align: top;
    @include mq(sp) {
      &:nth-child($sp n+1) {
        margin-left: 0 !important;
      }
    }
    @include mq(tb) {
      &:nth-child($tb n+1) {
        margin-left: 0 !important;
      }
    }
    @include mq(pc) {
      &:nth-child($sp n+1) {
        margin-left: 0 !important;
      }
    }
  }
}

//cf設定
@mixin cf {
	zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

//inr設定　@mixinして設置
@mixin grobal_inr {
	@include mq(sp) {
		width: 95%;
		margin: 0 auto;
	}
	@include mq(tb) {
		width: 90%;
		margin: 0 auto;
	}
	@include mq(pc) {
		margin: 0 auto;
		width: 1200px;
	}
}
//inr設定　@mixinして設置
@mixin internal_inr {
	@include mq(sp) {
		width: 95%;
		margin: 0 auto;
	}
	@include mq(tb) {
		width: 90%;
		margin: 0 auto;
	}
	@include mq(pc) {
		margin: 0 auto;
		width: 1200px;
	}
}
